<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>GlyphsApp Server</string>
	<key>CFBundleExecutable</key>
	<string>plugin</string>
	<key>CFBundleIdentifier</key>
	<string>com.mekkablue.GlyphsAppServer</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>GlyphsApp Server</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2026 Rainer Erich Scheichelbauer (mekkablue). Apache License 2.0.</string>
	<key>NSPrincipalClass</key>
	<string>GlyphsAppServer</string>
	<key>PyMainFileNames</key>
	<string>../MacOS/main.py</string>
	<key>productPageURL</key>
	<string>https://github.com/mekkablue/glyphsapp-server</string>
</dict>
</plist>
